@import './smart-grid';

header {
    background: url(../imgs/header-bg.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    color: #fff;
    box-shadow: inset 0 0 0 2000px rgba($color: #000000, $alpha: .3);
    position: relative;

    .header-content {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        @include sm-block {
            min-height: 50vh;
        }
    }

    .form-sm {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
}